{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
<article>	
	<div id="content">
		<div class="jumbotron">
			<div class="row">
				<div class="col-md-6">
					<img class="img-responsive" src="../images/accueil.jpg" alt="accueil" id="imgHome"/>
				</div>
				{% block contenu %}
				<div class="col-md-6">
					<h2>BabyDressing <span class="glyphicon glyphicon glyphicon-shopping-cart"></span><br> <small>Achetez et revendez vos vêtements de bébé !</small></h2>
				</div>
				{% endblock %}
			</div>
		</div>
	</div>
</article>
{% endblock %}
