{% extends "index.html.twig" %}

{% block contenu %}
<div class="col-md-6">
	<h2 class="text-center">Nous Contacter</h2>
	<div>
	n° telephone :
	</div>
	<div>
	adresse :
	</div>
	<div>
	mail :
	</div>
</div>
{% endblock %}
