/*css*/


body 
{ 
    padding-top: 60px; 
}

.footer 
{
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

.articleTitle:hover, .articleTitle:focus 
{
    text-decoration: none;
}

#imgHome, #imgAlbum {
    border-radius: 7px; 
    border:4px solid white; 
    box-shadow: 1px 1px 10px #555;
}

.nav-tabs {
    margin-bottom: 20px;
}

a:hover, a:focus {
    text-decoration: none;
}